$sailthru-blue: #00CCED;

$primary-black: #404041;
$primary-white: #EEECE1;
$primary-grey: #6D6E70;
$primary-purple: #79177C;
$primary-yellow: #F5EB00;

$secondary-green: #75A863;
$secondary-yellow: #EFB145;
$secondary-red: #D86148;
$secondary-purple: #86487D;