#logo img {
	width: 200px;
	height: auto;
	margin: 20px 0;
	float: left;
}

#logo h1 {
	float: left;
	padding: 0 0 0 20px;
    font-family: $MainFont-Light;
    color: $sailthru-blue;
}

header {
	border-bottom: solid 1px $primary-grey;
}

