.section h2 {
	font-family: $MainFont-Bold;
	color: $sailthru-blue;
	margin: 40px 0 15px 0;
}

.section h3 {
	font-family: $MainFont-Book;
	color: $primary-black;
	width: 100%;
	border-bottom: solid 1px $sailthru-blue;
	margin: 0 0 20px 0;
}






